@model IEnumerable<ChildrenDetails.Models.ChildrenDetail>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChildrenLists</title>
</head>
<body>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>  


    <script type="text/javascript">
        $(function () { $("#tabs").tabs(); });
    </script>

    <div id="tabs">

        <ul>
            <li><a href="#tabs-1">Children Lists</a></li>
            <li><a href="#tabs-2">Children Files</a></li>
        </ul>

        <div id="tabs-1">
            @using (Html.BeginForm())
            {
                <div id="tabs-1">

                    <h2>Children Datils Lists</h2>
                    <hr />

                    <p>
                        Find by Child First or Last Name: @Html.TextBox("SearchString")
                        <input type="submit" value="Search" />
                    </p>

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Child_First_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Child_Last_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Child_Birth_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contact1_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contact1_Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contact1_Email)
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Child_First_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Child_Last_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Child_Birth_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact1_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact1_Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact1_Email)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            }
        </div>

        <div id="tabs-2">
            @using (Html.BeginForm("UploadFiles", "ChildrenDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.Label("Childrens Files Upload", htmlAttributes: new { @class = "control-label col-md-2" })

                <input type="file" name="files" multiple />
                <input type="submit" value="Upload" />
                
            }
            
        </div>
    </div>
</body>
</html>
